<html>

<head>
	<title> Tung Duong </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

	<!-- JQuery -->
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		crossorigin="anonymous">

	<!-- Bootstrap JS, Popper.js -->
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		crossorigin="anonymous"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-97836276-1"></script>
	<link rel="stylesheet" href="/assets/style.css">

	<!-- popup | lightbox -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.1/lity.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.1/lity.js"></script>


	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-97836276-1');
	</script>
	<!-- Custom Scripts -->
	<script type="text/javascript" language="javascript">
		$(document).ready(function () {
			if (window.location.pathname == '/') {
				$(".block").fadeOut(0);
				$(".first").fadeIn(1000, function () { $(".second").slideDown(750, function () { $(".third").fadeIn(750) }) });
				$(".first").hover(function () {
					$(".shakeable").effect("shake", { direction: "up", times: 1, distance: 10 });
				});
			}
		});

	</script>
	<style type="text/css">
		html {
		  scroll-behavior: smooth;
		  /*Adds smooth scrolling instead of snapping to element*/
		}
	</style>
</head>

<body>
	<div id="TungDuong" class="container page-content">
		<div class="header page-header">
			<div class="row">
				<div class="pageTitle col-md-6 ">
					<a href="/" onmouseover="this.style.color='#0096FF'" onmouseout="this.style.color='black'" style="color: black;">
						<h1>Tung Duong</h1>
					</a>
				</div>
				<div class="pageMenu col-md-6 ">
					<nav class="navbar navbar-expand-lg navbar-light">
						<button class="navbar-toggler" type="button" data-toggle="collapse"
							data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
							aria-expanded="false" aria-label="Toggle navigation">
							<span class="mobileMenuIcon navbar-toggler-icon"></span>
						</button>

						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav ml-auto">
								<li class="nav-item active">
									<a class="nav-link" href="/index.html" onmouseover="this.style.color='#0096FF'" onmouseout="this.style.color='black'" style="color: black;"><b>Home</b></a>
								</li>
								<li class="nav-item active">
									<a class="nav-link" href="/projects.html" onmouseover="this.style.color='#0096FF'" onmouseout="this.style.color='black'" style="color: black;"><b>Projects</b></a>
								</li>
								<li class="nav-item active">
									<a class="nav-link" href="/awards.html" onmouseover="this.style.color='#0096FF'" onmouseout="this.style.color='black'" style="color: black;" ><b>Awards</b></a>
								</li>
								<li class="nav-item active">
									<a class="nav-link" href="/showcases.html" onmouseover="this.style.color='#0096FF'" onmouseout="this.style.color='black'" style="color: black;" ><b>Showcases</b></a>
								</li>
								<li class="nav-item active">
									<a class="nav-link" href="/assets/resume.pdf" onmouseover="this.style.color='#0096FF'" onmouseout="this.style.color='black'" style="color: black;" target="_blank"><b>Resume</b></a>
								</li>

							</ul>
						</div>
					</nav>
				</div>
			</div>
			<hr />
		</div>
		{{ content }}
	</div>
	<footer class="footer page-footer text-center block third bg-light">
		<div class="row" style="display: flex;">
		    <div class="col-md-4" style="width:100%;">
		            
		    </div>
		    <div class="col-md-4" style="width:100%;">
		            <br>
						<div class="social-icon-set">
							<div class="social-icon">
								<a href="https://www.linkedin.com/in/TungDuong2/" target="_blank">
									<img src="/assets/images/svg/social-1_logo-linkedin.svg" 
									onmouseover="this.style.filter='contrast(200%)'" onmouseout="this.style.filter='contrast(100%)'"></a>
							</div>
							<div class="social-icon">
								<a href="https://github.com/TungDuong2" target="_blank">
									<img src="/assets/images/svg/social-1_logo-github.svg"
									onmouseover="this.style.filter='contrast(200%)'" onmouseout="this.style.filter='contrast(100%)'"></a>
							</div>
						</div>
						<br>
						<p>Copyright &copy
							<script type="text/javascript">document.write(new Date().getFullYear());</script> 
							<a href="/index.html">Tung Duong</a>
						</p>
		    </div>
		    <div class="col-md-2" style="width:100%;">
		            
		    </div>
		    <div class="col-md-2" style="width:100%;display: flex; justify-content: center; align-items: center;">			      
			    <a href="#TungDuong"><img style="opacity: 0.5; width: 50px; height: 50px; display: none;" id="backtotop" onmouseover="this.style.opacity='1'" onmouseout="this.style.opacity='.5'" src="/assets/images/svg/back-to-top-icon.jpg"></a>
			          
	        </div>
		</div>
	</footer>

	<script type="text/javascript">
		var backtotop = document.getElementById("backtotop");
		window.onscroll = function() {
		  if (this.scrollY > 30) {
		  	backtotop.style.display = "flex";
		  } else {
		    backtotop.style.display = "none";		  
		  }
		}
	</script>
</body>

</html>
